header a{
    color: red;
    text-decoration: none;
}
div h1,h2 {
    color: gray;
}
main > section {
    font-size: 2.25rem;
}
main + section {
    font-size: 1.5rem;
}
header {
    height: 64px;
}
footer {
    background-color: blue;
    height: 24px;
}
section img{
    width: 50%;
}
p{
    font-size: 1rem;
}