header a{
    color: yellowgreen;
    text-decoration: none;
}

div > h1 {
    color: black;
    font-size: 2rem ;
}

div > h2 {
    color: black;
    font-size: 1.5rem ;
}

header {
    font-size: 4rem;
}


footer > a {
    background-color: yellowgreen;
    font-size: 1.5em;
    text-decoration: none;
    color: brown;
}



img {
    width: 50vw;

}

p {
    font-size: 1rem;
}